body {
    font-family: sans-serif;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .tarefas {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
  }
  
  .tarefa {
    margin-bottom: 10px;
  }
  
  .tarefa-nome {
    font-weight: bold;
  }
  
  .tarefa-status {
    text-align: right;
  }
  